<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="si_pass_reset_absBinding" />
        <binding name="si_pass_reset_absBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="si_atm_cust_abs_syncBinding" />
        <binding name="si_atm_cust_abs_syncBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="si_bank_abs_syc_v2Binding" />
        <binding name="si_bank_abs_syc_v2Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="si_price_abs_syncBinding" />
        <binding name="si_price_abs_syncBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="si_atm_dp_bapi_abs_syncBinding" />
        <binding name="si_atm_dp_bapi_abs_syncBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="si_full_auth_absBinding" />
        <binding name="si_full_auth_absBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_full_auth_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication"
	        binding="basicHttpBinding" bindingConfiguration="si_full_auth_absBinding"
	        contract="DangoteLoginService.si_full_auth_abs" name="HTTP_Port" />
        <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_full_auth_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication"
	        binding="basicHttpBinding" bindingConfiguration="si_full_auth_absBinding1"
	        contract="DangoteLoginService.si_full_auth_abs" name="HTTPS_Port" />
      <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_pass_reset_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication"
        binding="basicHttpBinding" bindingConfiguration="si_pass_reset_absBinding"
        contract="DangoteResetPasswordService.si_pass_reset_abs" name="HTTP_Port1" />
      <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_pass_reset_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication"
        binding="basicHttpBinding" bindingConfiguration="si_pass_reset_absBinding1"
        contract="DangoteResetPasswordService.si_pass_reset_abs" name="HTTPS_Port1" />
      <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_atm_cust_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_atm_cust_abs_syncBinding"
        contract="DangoteCustomerDetailsService.si_atm_cust_abs_sync"
        name="HTTP_Port2" />
      <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_atm_cust_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_atm_cust_abs_syncBinding1"
        contract="DangoteCustomerDetailsService.si_atm_cust_abs_sync"
        name="HTTPS_Port2" />
      <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_Dp&amp;receiverParty=&amp;receiverService=&amp;interface=si_bank_abs_syc_v2&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostdownpayment"
        binding="basicHttpBinding" bindingConfiguration="si_bank_abs_syc_v2Binding"
        contract="DangoteCustomerDownPaymentATCService.si_bank_abs_syc_v2"
        name="HTTP_Port3" />
      <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_Dp&amp;receiverParty=&amp;receiverService=&amp;interface=si_bank_abs_syc_v2&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostdownpayment"
        binding="basicHttpBinding" bindingConfiguration="si_bank_abs_syc_v2Binding1"
        contract="DangoteCustomerDownPaymentATCService.si_bank_abs_syc_v2"
        name="HTTPS_Port3" />
      <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_price_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_price_abs_syncBinding"
        contract="DangoteOrderGetPriceService.si_price_abs_sync" name="HTTP_Port4" />
      <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_price_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_price_abs_syncBinding1"
        contract="DangoteOrderGetPriceService.si_price_abs_sync" name="HTTPS_Port4" />
      <endpoint address="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_atm_dp_bapi_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_atm_dp_bapi_abs_syncBinding"
        contract="DangoteOrderDownPaymentService.si_atm_dp_bapi_abs_sync"
        name="HTTP_Port5" />
      <endpoint address="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_ATC&amp;receiverParty=&amp;receiverService=&amp;interface=si_atm_dp_bapi_abs_sync&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Apostatctransaction"
        binding="basicHttpBinding" bindingConfiguration="si_atm_dp_bapi_abs_syncBinding1"
        contract="DangoteOrderDownPaymentService.si_atm_dp_bapi_abs_sync"
        name="HTTPS_Port5" />
    </client>
  </system.serviceModel>
</configuration>